.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile h3 {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
}

.profile-name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile-button {
    margin-top: 1.5rem; 
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-button a {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.tablist ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin-top: 2rem;
    border-bottom: 2px solid #000;
}

.tablist li {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.28px;
    cursor: pointer;
    padding-bottom: 0.5rem;
    position: relative;
    
}

.tablist li.active {
    font-weight: 500;
}

.tablist li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.filter {
    margin-top: 1rem;
}
